<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="../static/signup.css">
    <link rel="shortcut icon" href="./favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/signup.js" defer></script>
</head>
<body>
    <div class="signup-form">
        <form>
            <div class="form-title">
                <h1>Sign up</h1>
            </div>
            
            <div class="input-field">
                <label for="username">Name</label>
                <div class="input-container">
                    <img src="../src/user icon.png" class="input-icon" alt="user icon">
                    <input type="text" name="username" id="username" placeholder="Type your name" autocomplete="username">
                </div>
                <hr class="hr">
            </div>
            <p id="username-error"></p>
            
            <div class="input-field">
                <label for="email">E-mail</label>
                <div class="input-container">
                    <img src="../src/email2.png" class="input-icon" alt="mail icon">
                    <input type="email" name="email" id="email" placeholder="Type your email adress" autocomplete="username">
                </div>
                <hr class="hr">
            </div>
            <p id="email-error"></p>

            <div class="input-field">
                <label for="password">Password</label>
                <div class="password-input-container">
                    <img src="../src/lock icon.png" class="input-icon" alt="lock icon">
                    <input type="password" name="password" id="password" placeholder="Type your password" autocomplete="current-password">
                    <img src="../src/show-password.png" id="show-or-hide-password" alt="Show password">
                </div>
                <hr class="hr">
            </div>
            <p id="password-error"></p>

            <button id="signup-btn">Signup</button>

            <div class="sign-up">
                <p>Or Sign Up Using</p>
                <div class="signup-option">
                    <a href="#"><img class="socail-media-icons" src="../src/facebook.webp" alt="facebook logo"></a>
                    <a href="#"><img class="socail-media-icons" src="../src/linkedin.png" alt="linkedin logo"></a>
                    <a href="#"><img class="socail-media-icons" src="../src/google.png" alt="google logo"></a>
                </div>
            </div>

            <p>Or Already have and account</p>
            <a href="./login.html" class="login">Login</a>

        </form>

    </div>
</body>
</html>